<div class="about-us-block">
    <div class="image-block">
        <div class="sqare"></div>
        <img  class="about-image" src="../../../assets/images/about-us-image.jpg" alt="">
    </div>
    <div class="text-block">
        <div class="title">
            {{"More About Us" | translate}}
            <div class="line"></div>
        </div>
        <div class="text">
            {{"About Us Message 1" | translate}}
        </div>

        <div class="text">
            {{"About Us Message 2" | translate}}
        </div>
    </div>
</div>