<div class="footer-part">
    <div class="logo-part">
        <img src="../../../assets/images/logo-white.png" alt="" width="100px">
    </div>
    <div class="info-part">
        <div class="informations">
            <div class="info-address">
                <div>
                    <img src="../../../assets/icons/contact-icons/location.svg" alt="" width="33px">
                </div>
                <div class="address-name">
                    Cvijiceva 24, Beograd
                </div>
            </div>
            <div class="info-phone">
                <div class="phone-icon">
                    <img src="../../../assets/icons/contact-icons/phone.svg" alt="" width="33px">
                </div>
                <div class="phone-number">
                    +3164233282
                </div>
            </div>
            <div class="info-website">
                <div class="website-icon">
                    <img src="../../../assets/icons/contact-icons/email.svg" alt="" width="33px">
                </div>
                <div class="our-email">
                    communiqdesign@gmail.com
                </div>
            </div>
        </div>
    </div>
    <div class="contact-msg">
        <div class="msg-text">
            {{"Footer Message" | translate}}
        </div>
    </div>
</div>