<div class="services-part">
    <div class="introduction-part">
        <div class="int-title">{{"What we do?" | translate}}</div>
        <div class="int-text">
            {{"Services Message" | translate}}
        </div>
        <div class="int-line"></div>
    </div>

    <div class="project-list">
        <div class="project-row">
            <div class="project1">
                <div class="project-icon">
                    <img src="../../../assets/icons/services-icons/cable-svg.svg" alt="" width="60px">
                </div>
                <div class="project-title">
                    {{"Structure cabling system" | translate}}
                </div>
            </div>

            <div class="project2">
                <div class="project-icon">
                    <img src="../../../assets/icons/services-icons/tv-svg.svg" alt="" width="60px">
                </div>
                <div class="project-title">
                    {{"TV distribution system" | translate}}
                </div>
            </div>

            <div class="project3">
                <div class="project-icon">
                    <img src="../../../assets/icons/services-icons/fire-svg.svg" alt="" width="60px">
                </div>
                <div class="project-title">
                    {{"Fire detection system" | translate}}
                </div>
            </div>

            <div class="project4">
                <div class="project-icon">
                    <img src="../../../assets/icons/services-icons/gas-svg.svg" alt="" width="60px">
                </div>
                <div class="project-title">
                    {{"Gas detection system" | translate}}
                </div>
            </div>
        </div>
        <div class="project-row">
            
            <div class="project5">
                <div class="project-icon">
                    <img src="../../../assets/icons/services-icons/inter-svg.svg" alt="" width="60px">
                </div>
                <div class="project-title">
                    {{"Intrusion system" | translate}}
                </div>
            </div>

            <div class="project6">
                <div class="project-icon">
                    <img src="../../../assets/icons/services-icons/card-svg.svg" alt="" width="60px">
                </div>
                <div class="project-title">
                    {{"Access control system" | translate }}
                </div>
            </div>

            <div class="project7">
                <div class="project-icon">
                    <img src="../../../assets/icons/services-icons/house-svg.svg" alt="" width="60px">
                </div>
                <div class="project-title">
                    {{"Smart home system" | translate}}
                </div>
            </div>

            <div class="project8">
                <div class="project-icon">
                    <img src="../../../assets/icons/services-icons/video-svg.svg" alt="" width="60px">
                </div>
                <div class="project-title">
                    {{"AV conference system" | translate}}
                </div>
            </div>

           
        </div>
        <div class="project-row">
            
            <div class="project9">
                <div class="project-icon">
                    <img src="../../../assets/icons/services-icons/multimedia-svg.svg" alt="" width="60px">
                </div>
                <div class="project-title">
                    {{"Multimedia system" | translate}}
                </div>
            </div>

            <div class="project10">
                <div class="project-icon">
                    <img src="../../../assets/icons/services-icons/phone-svg.svg" alt="" width="60px">
                </div>
                <div class="project-title">
                    {{"Intercom system" | translate}}
                </div>
            </div>

            <div class="project11">
                <div class="project-icon">
                    <img src="../../../assets/icons/services-icons/megaphone-svg.svg" alt="" width="60px">
                </div>
                <div class="project-title">
                    {{"Public Address system" | translate}}
                </div>
            </div>

            <div class="project12">
                <div class="project-icon">
                    <img src="../../../assets/icons/services-icons/camera-svg.svg" alt="" width="60px">
                </div>
                <div class="project-title">
                    {{"CCTV system" | translate}}
                </div>
            </div>
        </div>
    </div>

</div>