<div class="work-process-block">
    <div class="part1">
        <div class="part1-icon">

        </div>
        <div class="part1-title">
            {{"Project Design" | translate}}
        </div>
        <div class="part1-text">
            {{"Project Design Text" | translate}}
        </div>
    </div>
    <div class="part2">
        <div class="part2-icon">

        </div>
        <div class="part2-title">
            {{"Consulting" | translate}}
        </div>
        <div class="part2-text">
            {{"Consulting Text" | translate}}
        </div>
    </div>
    <div class="part3">
        <div class="part3-icon">

        </div>
        <div class="part3-title">
            {{"Installation & Maintenance" | translate}}
        </div>
        <div class="part3-text">
            {{"Installation & Maintenance Text" | translate}}
        </div>
    </div>
</div>